@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


body{
  font-family: 'Poppins', sans-serif;
  background-color: #EFF4F0;
}
.container {
  width: 100%;
  margin-left: 15.5rem;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}
